.video_bg {
  position: relative;
  height: 500px;
  z-index: 1;
  overflow: hidden;
}

.header-bg_video {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url(https://dk2h3gy4kn9jw.cloudfront.net/web-2019/51911eb5/img/header-bg-pl.88f9dab.jpg);
  z-index: -1;
}

.header-bg_video video {
  filter: brightness(60%);
  position: absolute;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header-bg_video video {
    width: auto;
    height: 100%;
  }
}
