.category_slider {
  font-family: var(--font-family);
  width: 100%;
  background-color: #fff;
  position: relative;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  transform: translateY(-70px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.category_slider-content {
  position: relative;
  margin: 4rem 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  background-color: rgb(243, 243, 243);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.scroll-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 55%;
  transform: translateY(-50%);
  border-radius: 100px;
  background: linear-gradient(89.97deg, #ec7600 1.84%, #f49867 102.67%);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.scroll-button.left {
  left: 10%;
}

.scroll-button.right {
  right: 10%;
}

.category_slider-content-categories {
  width: 90%;
  max-width: 1000px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.category_slider-content-categories-inside {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.category_slider-content-categories .category_slider-content-categories-inside {
  flex-wrap: nowrap;
  /* animation: scroll 20s linear infinite; */
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

@media screen and (max-width: 700px) {
  .category_slider.section__padding {
    padding: 4rem 0;
  }

  .category_slider-content {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .category_slider-content h2 {
    text-align: center;
  }

  .scroll-button.right {
    right: 10%;
  }

  .scroll-button.left {
    left: 10%;
  }
}
