.popularProductContainer {
  margin: 1.5rem;
}

.popularP {
  top: 0;
  position: relative;
  width: 320px;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.popularP:hover {
  top: -20px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.popularP img {
  width: 100%;
  border-radius: 20px;
}

.popularP h5 {
  font-size: var(--h5-size);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

.popularP p {
  line-height: 15px;
  font-size: 1rem;
}
