.popularPrdcs {
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popularPrdcs h2 {
  font-size: var(--h1-size);
  width: fit-content;
}

.popularPrdcs .product-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
