.profile_info_container {
  font-family: var(--font-family2);
  background: transparent;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: fit-content;
}

.profile_info {
  position: relative;
  top: 0;
  height: fit-content;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 100%;
  z-index: 2;
  color: #fff;
}

.profile_info h3,
.profile_info h4 {
  color: #f0a822;
}

.profile_info h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.profile_info h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.profile_info h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.profile_info .form-section {
  margin-bottom: 20px;
}

.profile_info .form-group {
  margin-bottom: 15px;
}

.profile_info .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile_info .input_container {
  background-color: #eee;
  color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  padding: 5px 15px;

  border-radius: 15px;
  width: 100%;
}

.input_container svg {
  width: 18px;
}

.profile_info input,
.profile_info textarea {
  /* width: calc(100% - 1rem);
  padding: 0.5rem;
  margin: auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px; */

  background-color: #eee;
  color: black;
  border: none;
  margin: auto;
  display: block;
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.profile_info input:disabled {
  background-color: #f9f9f9;
}

.profile_info textarea {
  height: 100px;
  border-radius: 15px;
}

.profile_info .update-button {
  font-family: var(--font-family2);
  background-color: #f0a822;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  margin: auto;
}

.profile_info .update-button:hover {
  background-color: #f1c573;
}
