.kw__footer {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(129, 129, 129);
  margin-bottom: 2rem;
  margin-top: 6rem;
}
.kw__footer-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.kw__footer-main h2 {
  color: var(--color-button);
  margin-bottom: 1rem;
  white-space: nowrap;
}

.kw__footer-main ul {
  list-style: none;
}

.kw__footer-main li {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.kw__footer-main li svg {
  padding-right: 1rem;
}

.kw__footer-main li h2 {
  white-space: nowrap;
}

.kw__footer-main li {
  width: fit-content;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.kw__footer-main li:hover {
  color: var(--color-button);
  transform: translateX(15px);
  scale: 105%;
}

.kw__footer-company {
  flex: 3;
  padding: 2rem;
  min-width: 250px;
}

.kw__footer-contact {
  flex: 2;
  padding: 2rem;
}

.kw__footer-shortcuts {
  flex: 1;
  padding: 2rem;
}

.kw__footer-media {
  flex: 1;
  padding: 2rem;
}

.kw__footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kw__footer-copyright p {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .kw__footer-main ul {
    width: fit-content;
  }

  .kw__footer-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .kw__footer-shortcuts,
  .kw__footer-contact,
  .kw__footer-company {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
  }
}
